node_modules/
.next/
.cache/
.env.local
.env
.env.vercel
.env.production
*.log
.vercel
supabase/.temp/
/mailing/
SUPERTESTER/.urls-cache.json
SUPERTESTER/test-results/
SUPERTESTER/playwright-report/

.vercel
